@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

:root {
  --bg1: #4a025c;    
  --bg2: #3a0049;   
  --teal: #4AFFBC; 
  --text-main: #ffffff;
  --text-muted: #d4e4e4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-main);
  background: var(--bg1);
  
  background-image: url('Vector\ 17\ \(1\).png');
  background-repeat: repeat; 
}
header {
  width: 100%;
  padding: 20px 30px;
  background: #2d0038;
  backdrop-filter: blur(6px);
  position: sticky;
  top: 0;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  margin-left: auto;
  transition: ease-in-out 300ms
  
}

.nav-links a {
  color: #d4e4e4;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #4AFFBC;
  transform: scale(1.05);
}

.hero-content img {
  max-width: 450px;
  max-height: 500px;
}
.hero-content h1 {
  cursor: none;
  transition: ease-in-out 800ms;
  opacity: 0.8;
}
.hero-content h1:hover {
  transform: scale(1.05);
  opacity: 1;
}
.navbar-mobile {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  border-radius: 8px;
}

#menu {
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}

#menu h1 {
  font-size: 60px;
  font-weight: 800;
  color: var(--teal);
  text-shadow: none;
}

#menu p {
  margin-top: 12px;
  font-size: 20px;
  color: var(--text-muted);
}

#Funcionalidades {
  background: var(--bg2);
  padding: 60px 20px;
}

.titlepk {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 25px;
  color: var(--teal);
  text-align: center;
}

.maker-container {
  max-width: 900px;
  margin: auto;
  background: #4a025c;
  padding: 25px 30px;
  border-radius: 16px;
  line-height: 1.6;
  background-image: url('Vector\ 17\ \(1\).png');
}

.maker-container p {
  font-size: 18px;
  color: var(--text-muted);
}

@media (max-width: 600px) {
  #menu h1 {
    font-size: 42px;
  }
  #menu p {
    font-size: 18px;
  }
  .titlepk {
    font-size: 30px;
  }
  .logo {
    height: 42px;
  }
}

#equipe {
  padding: 80px 20px;
  background: #2d0038;
}

.title-equipe {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  color: #4AFFBC;
  margin-bottom: 40px;
}

.equipe-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  overflow: visible; 
  padding-bottom: 20px;
}


.equipe-container::-webkit-scrollbar {
  height: 10px;
}

.equipe-container::-webkit-scrollbar-track {
  background: #222;
  border-radius: 10px;
}

.equipe-container::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

.card-membro {
  min-width: 260px;
  background: #4a025c;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  flex-shrink: 0;
  background-image: url('Vector\ 17\ \(1\).png');
}

.foto-membro {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.card-membro h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 5px;
}

.card-membro p {
  font-size: 16px;
  color: #dcdcdc;
  margin-bottom: 15px;
}

.btn-linkedin {
  display: inline-block;
  background: #2d0038;
  color: #fff;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;
  transition: 400ms;
}

.btn-linkedin:hover {
  background: var(--teal);
  color: var(--bg2);
  transform: scale(1.1);
}

#processo {
  padding: 80px 20px;
  background: #2d0038; 
  background-image: url('prototipação.png');
}

.title-processo {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  color: #4AFFBC;
  margin-bottom: 50px;
}

.video-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.video-projeto {
  width: 50%;
  max-width: 1000px;
  border-radius: 20px;
  border: 4px solid var(--teal);
}

.video-projeto {
  width: 90%;
  max-width: 1000px;
  border-radius: 20px;
  border: 4px solid var(--teal);
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.video-projeto:hover {
  transform: scale(1.05);
  border-color: #4a025c;
}

.fotos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  padding: 10px;
}

.foto-projeto {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 20px;
  border: 3px solid #4a025c;
  transition: 0.3s ease;
}

.foto-projeto:hover {
  transform: scale(1.05);
  border-color: var(--teal);
}

.video-projeto,
.foto-projeto {
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.video-projeto {
  width: 90%;
  max-width: 600px;
  border-radius: 20px;
  border: 4px solid #4a025c;
}

.video-projeto:hover {
  transform: scale(1.05);
  border-color: var(--teal); 
}

.foto-projeto {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 20px;
  border: 3px solid #4a025c; 
}

.foto-projeto:hover {
  transform: scale(1.05);
  border-color: var(--teal);
}

#menu {
  position: relative;
  z-index: 1;
}

header {
  z-index: 10;
}

#processo,
.fotos-container,
.video-container {
  position: relative;
  z-index: 1;
}

header {
  position: sticky;
  top: 0;
  z-index: 9999;
}

section {
  scroll-margin-top: 120px;
}

#simulacao {
  padding: 80px 20px;
  background: var(--bg1);
  text-align: center;
}

.title-simulacao {
  font-size: 48px;
  font-weight: 800;
  color: var(--teal);
  margin-bottom: 25px;
}

.sim-info {
  color: var(--text-muted);
  margin-bottom: 25px;
  font-size: 18px;
}

#simulador-area {
  width: 100%;
  max-width: 800px;
  height: 300px;
  border: 3px solid var(--teal);
  border-radius: 15px;
  margin: auto;
  position: relative;
  background: #2d0038;
  background-image: url('Vector\ 17\ \(4\).png');
}

.sensor {
  width: 120px;
  padding: 10px;
  background: #4a025c;
  border: 2px solid var(--teal);
  border-radius: 10px;
  position: absolute;
  top: 10px;
  text-align: center;
  font-weight: 700;
}

#sensor-esq {
  left: 30px;
}

#sensor-dir {
  right: 30px;
}

#objeto {
  width: 40px;
  height: 40px;
  background: var(--teal);
  border-radius: 50%;
  position: absolute;
  top: 200px;
  left: 380px;
  cursor: grab;
}

#objeto:active {
  cursor: grabbing;
}

.dados-sensores {
  margin-top: 20px;
  font-size: 20px;
}

.dados-sensores span {
  color: var(--teal);
  font-weight: 700;
}
